<!–- Cargar css y extras -–>
{% extends 'main/base.html' %}
{% load static %}
{% block title %}Categorias{% endblock %}

{% block content %}
<!–- Titulo -–>
<br>
    <h1 style="text-align:center">Editar Categoria</h1>
<br>

<!–- Formulario para editar una categoria -–>
<div class="container mx-auto justify-content-center d-flex">
    <form method="post" enctype="multipart/form-data">

        {% csrf_token %}

        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Nombre</label>
            {{ form.nombre }}
        </div>

        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Descripcion</label>
            {{ form.descripcion }}
        </div>

        <div class="mb-3">
            <label for="formFile" class="form-label">Imagen</label>
            {{ form.imagen }}
        </div>

        <button type="submit" class="btn btn-outline-success" style="align-self: center;">Editar</button>
    </form>
</div>

{% endblock %}
