<!–- Cargar css y extras -–>
{% extends 'main/base.html' %}
{% load static %}
{% block title %}Categorias{% endblock %}

{% block content %}

<!–- Titulo -–>
<br>
    <h1 style="text-align:center">Categorias</h1>
<br>

<!–- Mostrar datos de la lista -–>
{% for categoria in categorias %}

    <a href="{% url 'categorias:categoryDetail' slug=categoria.slug %}">

        <div class="container" style="align-self: center; justify-content: center;">
            <div class="card border-dark mb-3" style="width: 18rem; align-items: center; align-self: center;">

                <!–- Imagen -–>
                {% if categoria.imagen %}
                    <img src="{{ categoria.imagen.url }}" class="card-img-top" alt="...">
                {% endif %}

                <div class="card-body">
                    <h4 class="card-title">{{ categoria.nombre }}</h4>
                    <p class="card-text">{{ categoria.descripcion }}</p> 
                </div>
            </div>
        </div>

    </a> 

{% endfor %}

<!–- Boton para crear una nueva categoria -–>
<br>
<div class="d-flex justify-content-center">
    <a href="{% url 'categorias:categoryCreate' %}" class="btn btn-primary">Crear nueva categoria</a>
</div>

{% endblock %}