<!–- Cargar css y extras -–>
{% extends 'main/base.html' %}
{% load static %}
{% block title %}Productos{% endblock %}

{% block content %}

<!–- Titulo -–>
<br>
    <h1 style="text-align:center">Eliminar Producto</h1>
<br>

<!–- Formulario para eliminar una categoria -–>
<div class="container mx-auto d-flex justify-content-center">
    <form method="POST" enctype="multipart/form-data">

        {% csrf_token %}
    
        <h5>Estas seguro de eliminar este producto?</h5>
        <br>

        <div class="container mx-auto d-flex justify-content-center">
            <button type="submit" class="btn btn-outline-danger" style="align-self: center;">Eliminar</button>
            <button class="btn btn-outline-primary m-2" style="align-self: center;">Cancelar</button>
        </div>
    </form>
</div>

{% endblock %}