{% extends 'main/base.html' %}
{% load static %}
{% block title %}Producto{% endblock %}

{% block content %}

<!–- Titulo -–>
<br>
<div class="container">
  <!–-Productos-–>
  <div class="card mb-3">

    <!–- Imagen -–>
    {% if product.imagen %}
      <img src="{{product.imagen.url}}" class="card-img-top" alt="...">
    {% endif %}
    <div class="card-body">
      <h5 class="card-title">{{product.name}}</h5>
      <p class="card-text">{{product.description}}</p>
      <a href="{% url 'shops:shopDetail' slug=shop.slug %}"<h6 class="card-title"> Vendido por: {{product.shop}}</h6></a>
      <h6 class="card-title">{{product.price}}</h6>
      
      <!–- Boton para agregar al carrito-–>
      <button class="btn btn-outline-primary" value="{{ product.id }}">Agregar al carrito</button>

      <!–- Boton para editar-–>
      <a href="{% url 'products:productUpdate' slug=product.slug %}" class="btn btn-outline-primary">Editar</a>

      <!–- Boton para eliminar-–>
      <a href="{% url 'products:productDelete' slug=product.slug %}" class="btn btn-outline-danger">Eliminar</a>
      <br>
          <!------------- PAYPAL BUTTONS HERE  --------------------->
          <br>
          <div id="paypal-button-container"></div>
          
          <!-- Include the PayPal JavaScript SDK -->
          <script
            src="https://www.paypal.com/sdk/js?client-id=AQ7rlKgckBWsOiilQiRfBw4FCeXtuDztA__MSSnS8RYwVa_nilupSjXqWeRmr5Zu7Q53sb1kTtWoEtXn&currency=USD"></script>
          
          <script>
            // Render the PayPal button into #paypal-button-container
            paypal.Buttons({

              // Set up the transaction
              createOrder: function (data, actions) {
                return actions.order.create({
                  purchase_units: [{
                    amount: {
                      value: '{{ product.price }}'
                    }
                  }]
                });
              },

              // Finalize the transaction
              onApprove: function (data, actions) {
                return actions.order.capture().then(function (details) {
                  // Show a success message to the buyer
                  alert('Transaction completed by ' + details.payer.name
                    .given_name + '!');
                });
              }
            }).render('#paypal-button-container');
          </script>
          </div>
          
          <!---------------------------- paypal button ----------------------------------------->
    </div>
  </div>

  <!–- Reviews-–>
  <br>
  <h3 class="display-6">Reviews</h3>
  {% for review in reviews %}
  <div class="card mb-3" >
    <div class="card-body">
      <!--<h5 class="card-title">Card title</h5>-->
      <h6 class="card-subtitle mb-2 text-body-secondary">Puntaje: {{review.score}}</h6>
      <p class="card-text">{{ review.review}}</p>
      <h6 class="card-subtitle mb-2 text-body-secondary">Review creada por: {{review.user}}</h6>
      <p class="card-text"><small class="text-body-secondary">{{review.created_at}}</small></p>
      <!--<a href="#" class="card-link">Car</a>-->
    </div>
  </div>
  {% endfor %}
  <br>
  
  <!–- Boton para hacer reviews-–>
  <a href="{% url 'products:reviewCreate' nombre_producto=product.slug %}" class="btn btn-outline-primary">Hacer Review</a>

</div>

{% endblock %}
    