<!–- Cargar css y extras -–>
{% extends 'main/base.html' %}
{% load static %}
{% block title %}Productos{% endblock %}

{% block content %}

<!–- Titulo -–>
<br>
    <h1 style="text-align:center">Editar Producto</h1>
<br>

<!–- Formulario -–>
<div class="container mx-auto d-flex justify-content-center">
    <form method="POST" enctype="multipart/form-data">

        {% csrf_token %}
    
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Nombre del producto</label>
            {{ form.name }}
        </div>
    
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Descripcion del producto</label>
            {{ form.description }}
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text">$</span>
            {{ form.price }}
            <span class="input-group-text"></span>
        </div>

        {{ form.category }}

        <div class="mb-3">
            <label for="formFile" class="form-label">Imagen del producto</label>
            {{ form.imagen }}
        </div>
    
        <button type="submit" class="btn btn-outline-success" style="align-self: center;">Editar</button>
    </form>
</div>

{% endblock %}