{% extends 'main/base.html' %}
{% load static %}

{% block content %}

<!--Login-->
<br>
<div class="container mx-auto d-flex justify-content-center">
    <div class="container card p-5 w-50">
        
        <h3 id="form-title" style="text-align: center;">Crear cuenta</h3>
        <br>
    
        <form method="POST" action="">
    
        {% csrf_token %}
    
        <!--Username-->
        <div class="form-floating mb-3">
            {{form.username}}
            <label for="floatingInput">Username</label>
        </div>
    
        <!--Email-->
        <div class="form-floating mb-3">
            {{form.email}}
            <label for="floatingInput">Email</label>
        </div>
                        
    
        <!--Password-->
        <div class="form-floating mb-3">
            {{form.password1}}
            <label for="floatingPassword">Password</label>
        </div>
    
        <!--Re-enter Password-->
        <div class="form-floating mb-3">
            {{form.password2}}
            <label for="floatingPassword">Re-enter Password</label>
        </div>
        
        <!--Errores-->
        <br>
        <div class="container">
            {% for field in form %}
                {% if field.errors %}
                    <div class="alert alert-warning" role="alert">
                        {{field.errors}}   
                    </div>
                {% endif %}
            {% endfor %}
        </div>

        <!--Boton-->
        <br>
        <div class="d-flex justify-content-center mt-3 login_container">
            <input class="btn btn-outline-success" type="submit" value="Register Account">
        </div>
        </form>
    </div>
</div>


<!--Registro-->
<div class="mt-4">
    <div class="d-flex justify-content-center">
        <h5>Ya tienes una cuenta? </h5>
    </div>
    <div class="d-flex justify-content-center links">
        <a href="{% url 'main:login' %}" class="btn btn-link">Login</a>
    </div>
</div>

<!--Cambiar estilo de los campos-->
<script>
    var form_fields = document.getElementsByTagName('input')
    form_fields[2].placeholder='Username..';
    form_fields[3].placeholder='Email..';
    form_fields[4].placeholder='Enter password...';
    form_fields[5].placeholder='Re-enter Password...';

    for (var field in form_fields)
    {	
        form_fields[field].className += ' form-control'
    }
</script>

{% endblock %}