<!–- Cargar css y extras -–>
{% extends 'main/base.html' %}
{% load static %}
{% block title %}Categorias{% endblock %}

{% block content %}

<!–- Titulo -–>
<br>
    <h1 style="text-align:center">Tiendas</h1>
<br>

<!–- Mostrar datos de la lista -–>
<div class="container">
    {% for shop in shops %}

        <a href="{% url 'shops:shopDetail' slug=shop.slug %}">

            <div class="container mx-auto d-flex justify-content-center" >
                <div class="card border-dark mb-3" style="width: 20rem; align-items: center; align-self: center;">

                    <!–- Imagen -–>
                    {% if shop.imagen %}
                        <img src="{{ shop.imagen.url }}" class="card-img-top" alt="...">
                    {% endif %}

                    <div class="card-body">
                        <h4 class="card-title">{{ shop.name }}</h4> 
                    </div>
                </div>
            </div>

        </a> 

    {% endfor %}
{% endblock %}